/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #312e81;
}

.logo {
  color: #67e8f9;
}

.navbar nav a {
  color: #e0e7ff;
  margin-left: 20px;
  text-decoration: none;
  font-size: 16px;
}

.navbar nav a:hover {
  color: #67e8f9;
}

/* Hero */
.hero {
  height: 90vh;
  background: linear-gradient(to right, #312e81, #1e40af);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.hero h2 {
  font-size: 42px;
  margin-bottom: 15px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 25px;
}

.hero button {
  padding: 12px 28px;
  border: none;
  background: #67e8f9;
  color: #1e3a8a;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
}

.hero button:hover {
  background: #22d3ee;
}

/* About */
.about {
  padding: 60px 40px;
  background: #f1f5f9;
  text-align: center;
}

.about h2 {
  font-size: 32px;
  margin-bottom: 15px;
  color: #1e293b;
}

.about p {
  max-width: 600px;
  margin: auto;
  color: #475569;
  font-size: 17px;
}

/* Cards */
.cards {
  display: flex;
  gap: 25px;
  padding: 60px 40px;
  justify-content: center;
  background: #ffffff;
}

.card {
  background: #f8fafc;
  padding: 30px;
  width: 300px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.card h3 {
  margin-bottom: 10px;
  color: #1e40af;
}

.card p {
  color: #475569;
}

/* Contact */
.contact {
  padding: 50px;
  text-align: center;
  background: #eef2ff;
}

.contact h2 {
  margin-bottom: 10px;
  color: #1e3a8a;
}

/* Footer */
footer {
  background: #312e81;
  color: #e0e7ff;
  text-align: center;
  padding: 15px;
}

/* Responsive */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }

  .hero h2 {
    font-size: 32px;
  }
}
